header {
    margin: 10px;
}
.result {
    margin:10px;
    float:left;
}
img {
}
.flex{
    display:flex;
    max-width: 100vw;
    flex-wrap: wrap;
}
.image{
    display: inline-block;
    flex-grow: 2;
}